.cardHand {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 250px;
    box-sizing: border-box; /* include everything else in width */
    width: 70%;
    display: flex;
    flex-direction: row;
    /* padding-left: 20px;
    justify-content: space-between; */
}

.cardcontainer{
}

.card{
    font-family: serif;
    font-size: 2em;
    background: #FFF;
    border: 2px solid #000;
    padding: 10px;
    /* TODO: scale down cards on smaller screens */
    bottom: 0%;
    box-sizing: border-box;
    width: 200px;

    margin-top: 0;
    height: 250px;
    transition-property: margin-top, height;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.card:hover{
    margin-top: -20px;
    height: 270px;
}

.card.selected{
    margin-top: -50px;
    height: 300px;
}

.submitHandButton{
    border: none;
    border-radius: 40px;
    height: 100px;
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    background: #611F23;
}

.submitHandButton.active{
    background: #B4222C;
}

.submitHandButton.active:hover{
    background: #C7353F;
}

.deckComponent{
    box-sizing: border-box;
    width: 100px;
    height: 150px;
    margin-top: 25px;
    margin-left: 50px;

    background: #FF0000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.deckLoadingContainer{
    box-sizing: border-box;
    width: 80px;
    height: 20px;
    background: #000000;
}

.deckLoading{
    height: 20px;
    background: #00FF00;
}
