.mainPanel{
    position: absolute;
    right: 20%;
    left: 0%;
    top: 0%;
    bottom: 0%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-size: cover;
}

.topMainPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardHand {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 150px;
    box-sizing: border-box; /* include everything else in width */
    width: 70%;
    display: flex;
    flex-direction: row;
    /* padding-left: 20px;
    justify-content: space-between; */
}

.cardContainer{
}

@keyframes card-intro {
  0%   {height: 0ox; margin-top: 150px;}
  100% {height: 150px; margin-top: 0px;}
}

.card{
    object-fit: cover;
    object-position: 50% top;
    /* TODO: scale down cards on smaller screens */
    bottom: 0%;
    box-sizing: border-box;
    width: 200px;

    height: 150px;
    margin-top: 0pc;
    animation-name: card-intro;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;

    transition-property: margin-top, height;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.card:hover{
    margin-top: -20px;
    height: 170px;
}

.card.selected{
    margin-top: -50px;
    height: 200px;
}

.deckComponent{
    box-sizing: border-box;
    width: 100px;
    height: 150px;
    margin-top: 25px;
    margin-left: 50px;

    background-size: 100px 150px;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

.deckLoading{
    position: relative;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

.chipDisplay{
    font-family: Menlo, Monaco, 'Courier New', monospace;
    color: white;
    margin-top: 25px;
    margin-right: 50px;
    font-size: 2.5em;
}

.chipIcon{
    width: 50px;
    height: 50px;
}

.collectButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.submitHandButton{
    border: none;
    border-radius: 40px;
    height: 100px;
    width: 300px;
    font-size: 2em;
    background: #611F23;
}

.submitHandButton.active{
    background: #B4222C;
}

.submitHandButton.active:hover{
    background: #C7353F;
}

.cashOutButton{
    border: none;
    border-radius: 40px;
    height: 100px;
    width: 300px;
    font-size: 2em;
    background: #0ab1dd;
}

.cashOutButton:hover{
    background: #0bc4f5;
}
