.milestoneBox {
  /*TODO: make this turn different colors based on hover and active status*/
  background: #fff;
  border: 1px solid #999;
  height: 50px;
  width: 50px;
  text-align: center;
}

.milestoneImage {
    /*TODO: figure out how to center this thing*/
    width:80%;
    height:80%;
}

.Tooltip {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100px;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #333;
    background: #EEE;
}

.TooltipBox {
    width:100%;
    height:100%;
}

.flavortext {
    font-size: 0.8em;
    font-family: serif;
}
