body {
  font-family: 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, 'Courier New', monospace;
}

.mainPanel{
    position: absolute;
    right: 30%;
    left: 0%;
    top: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightPanel{
    position: absolute;
    right: 0%;
    left: 70%;
    top: 0%;
    bottom: 0%;
    /* padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; */

    /* temporary */
    background: #FFE;
}
